/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* elements does not get selected */
  /* user-select: none; */
}

/* --- Variables --- */
:root {
  --modal-height: 80vh;
}

/* --- Outer Modal --- */
#modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;

  height: 100vh;
  width: 100%;

  grid-template-columns: 7.5vw 85vw 7.5vw;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);

  /* overflow: hidden; */
  /* display: grid; */

  place-content: center;
}

/* --- Inner Modal --- */
#modal-container {
  max-height: 100%;
  max-width: 100%;
  margin: auto;

  display: grid;
  place-content: center;

  grid-column: 2 / 3;
}

/* --- Icon Section --- */
#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.close-btn {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  margin-left: 1rem;
  z-index: 2;
}

#full {
  cursor: pointer;
  z-index: 4;
}

#full {
  transition: 0.3s;
  font-size: 1.6rem;
}

#full:hover {
  transform: scale(1.2);
}

/* --- Slide Buttons --- */
#prev,
#next {
  font-size: 2rem;
  cursor: pointer;

  margin: auto;
  grid-row: 1 / -1;
  transition: 0.5s;
}

#prev {
  left: 0;
  grid-column: 1 / 2;

  left: 50%;
}

#next {
  right: 0;
  grid-column: 3 / 4;
}

#prev:hover,
#next:hover,
#close-btn:hover {
  color: rgba(80, 80, 80, 0.8);
}

/* responsive image size by setting only a maximum height */
#modal-img {
  /* set a max-height so that the image can't grow bigger than the screen */
  max-height: var(--modal-height);
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

/* setting the fullscreen-size of modal-img */
#modal:fullscreen #modal-img {
  max-height: var(--modal-height);
}

#caption {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;

  /* display: none; */
}

#index {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 1.5rem;
  transform: translateX(-50%);

  /* display: none; */
}

/* --- Media Queries --- */
@media (max-height: 600px) {
  #modal {
    place-content: normal;
    grid-template-columns: 10vw auto 10vw;
  }

  #full {
    display: none;
  }

  #index {
    display: none;
  }

  #modal-container {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    height: 100%;
    margin: 0.5rem 0;
  }


  #prev,
  #next {
    margin-inline: 0.7rem;
    top: 50%;
  }

  #prev {
    left: 0;
  }

  #next {
    right: 0;
  }
}

@media (max-width: 550px) {
  .card-content {
    display: none;
  }

  #full {
    display: none;
  }

  #modal {
    place-content: normal;
  }

  #modal-container {
    grid-column: 1 / -1;
    margin: 0.5rem 0;
  }

  #index {
    display: none;
  }

  #prev,
  #next {
    margin: 1rem auto;
    grid-column: 1 / -1;
    position: absolute;
    top: 0;
  }

  #prev {
    left: 50%;
    transform: translateX(-200%);
  }

  #next {
    right: 50%;
    transform: translateX(200%);
  }
}

/* Animation */
@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 800ms ease-in;
}